@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto+Slab:wght@100;400;800&display=swap');

@tailwind base;

@tailwind components;

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-gray {
  @apply bg-gray-400 text-gray-800;
}

.btn-gray:hover {
  @apply bg-gray-300;
}

.hashtag {
  @apply inline-block bg-gray-900 rounded-full px-1 text-xs font-normal text-red-300 m-1;
}

/* max-w-sm */

.project-card{
  @apply m-4 rounded overflow-hidden shadow-2xl bg-gray-800 border-gray-700 border;
    transition: transform .5s;
    transform-style: preserve-3d;
}

.project-card:hover{
  transform-style: preserve-3d;
}

.translate-z-20px{
  transform: translateZ(60px);
}

.link-pink{
  display: inline-block;
  position: relative;
  transform: rotate(-0.4deg);
  @apply font-mono pb-1;
  background:
    linear-gradient(
        to bottom, palevioletred 0%,
        lightcoral 100%
      );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 7px;
  text-decoration: none;
  transition: background-size .1s, transform .4s;
}

/* .link-pink::before{
  display: inline-block;
  content: "";
  position: absolute;
} */

.link-pink:hover{
  background-size: 4px 50px;
  transform: rotate(0.2deg);
  transition: background-size .1s, transform .4s;
}

/* .link-pink::after{
  display: inline-block;
  transform: rotate(-8deg);
} */

.rand-rotation-1{
  transform: rotate(0.4deg);
}

.rand-rotation-2{
  transform: rotate(0.8deg);
}

.rand-rotation-3{
  transform: rotate(1.6deg);
}

.rand-rotation-4{
  transform: rotate(2deg);
}

.rand-rotation-neg4{
  transform: rotate(-2deg);
}

.rand-rotation-neg3{
  transform: rotate(-1.6deg);
}

.rand-rotation-neg2{
  transform: rotate(-0.8deg);
}

.rand-rotation-neg1{
  transform: rotate(-0.4deg);
}

.videoContainer{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.demoReelVideo{
  height:100vh;
  width:100vw;
  z-index: 10;
  object-fit: cover;
  object-position: center;
}

@tailwind utilities;

*{
  @apply font-serif text-gray-300 font-thin;
  transition: 0.1s;
}

body {
  @apply bg-gray-900;
  background-color: rgb(255, 0, 162);
}

